body div {
    text-align: center;
}

.button {
    margin-bottom: 30px;
    font-size: large;
}

#rotator_{
    margin: 30px;
    padding: 30px;
}

header {
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 1rem;
}

div p {
    text-align: center;
    border: 2rem;
    padding: 1rem;
}

div h2 {
    padding: 1rem;
}
.bullets {
    text-decoration: underline;
}

.questions {
    display:inline-block -;
    /* border: thin solid black; */
}

.quiz {
    background-image: linear-gradient(#e52e71, #ff8a00);
    padding-top: 3rem;
}

.Hero {
    background-image: url(../img/background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 35rem;
    color: rgb(77, 165, 106);
    margin: -1rem;
    border-top: 0px;
    padding-top: 0px;
}

.Hero h1 {
    font-size: 3rem;
    padding-top: 1rem;
}

body {
    margin-top: 0;
    border: 0;
    padding: -10 rem;
}

.overlay {
    display: flex;
    margin: auto;
    width: 100%;
    height: 15rem;
    /* background-color: blue; */
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
}

.work {
    /* background-color: black; */
    /* opacity: 60%; */
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding-top: 3rem;
    border-left: 3rem;
}

.empty {
    /* background-color: red; */
    display: inline-block;
    vertical-align: top;
    width: 40%;
}

.education {
    /* opacity: 60%; */
    /* background-color: black; */
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding-top: 3rem;
}
